.selector {
  margin-top: 24px;
  display: flex;
  gap: 12px;
}

.option {
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
  transition: all 0.2s ease;
}

.option.selected {
  background-color: #5c6ac4;
  color: white;
  border-color: #5c6ac4;
}
